* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables*/
:root{
    --backgroud-extremos: #32384d;
    --color-nav: #f2f2f2;
    --segundo-color: #cc8800;
    --color-footer:#bfbfbf;
    --footer-hover: #cccccc;
    --medida-pc: 1200px;
    --medida-tablet: 768px;
    --medida-mobil1: 480px;
    --fuente-texto: 'Nunito Sans', sans-serif;
    --fuente-titulos: 'Work Sans', sans-serif;
    --size-titulos: 3.5rem;
    --size-subtitulos: 2.5rem

}

body{
    width: 100%;
    margin: auto;
}

/*************** NAV *****************************/
nav {
    padding: 2rem;
    height:9.5rem;
    background-color: var(--backgroud-extremos);
    margin: auto;
}

.contenedor-nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav i{
    font-size: var(--size-subtitulos);
    color: var(--color-footer);
    display: inline-block;
    transition: transform .7s ease-in-out;
}

.logo-nav:hover i{
    transform: rotate(360deg);
    color: var(--segundo-color);
}

.nav-derecha{
    font-family: var(--fuente-texto);
    font-size: 1.2em;
}

.nav-derecha ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 4em;
}

.link-nav{
    color: var(--color-footer);
    text-decoration: none;
    transition: ease-in-out;
}

.link-nav:hover{
    color: var(--segundo-color);
    border-bottom: 2px solid var(--color-footer);
    /* border-top: 2px solid var(--segundo-color); */
}

/*************** HEADER **************************/

.main{
    width: 100%;
    height:80vh;
    background-color:  #cc8800;
;
    padding: 2.5rem;
}

.main h1, .proyectos h2{
    font-size: var(--size-titulos);
    font-family: var(--fuente-titulos);
    color: var(--backgroud-extremos);
    text-align: center;
    padding-top: 1.5em;
}

.main p{
    font-size: 1.5em;
    font-family: var(--fuente-texto);
    color: var(--backgroud-extremos);
    text-align: center;
    padding-top: 1em;
}

/*************** Seccion Proyectos **************************/

.seccion{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-footer);
    padding: 2rem 0;
}

.seccion h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--fuente-titulos);
    font-size: var(--size-titulos);
}

.contenedor-proyectos{
    background-color: var(--backgroud-extremos);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
    border-radius: 30px;
    border: 2px solid var(--backgroud-extremos);
}

.proyecto-individual{
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: var(--segundo-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.img-proyecto{
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    opacity: 0.5;
    border-bottom: 3px solid var(--backgroud-extremos);
    transition-timing-function: ease-in-out;
}

.img-proyecto:hover{
    opacity: 1;
}

.nombre-proyecto{
    font-family: var(--fuente-titulos);
    font-size: 1.2rem;
    margin: 1.2rem 0 1.2rem 0;
}

.contenedor-iconos-proyectos{
    display: flex;
    gap: 2.5rem;
}

.logo-proyecto i {
    font-size:2rem;
    color: var(--backgroud-extremos);
    display: inline-block;
    transition: transform .7s ease-in-out;
}

.logo-proyecto:hover i{
    transform: rotate(360deg);
}



/************* Seccion Sobre mi ************************/

.seccion-sobremi{
    background-color: var(--segundo-color);
}

.contenedor-sobremi{
    background-color: var(--backgroud-extremos);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--color-footer);
}

.texto{
    width: 32%;
    font-size: 1.2rem;
    font-family: var(--fuente-titulos);
    color: #cc8800;
}

/***************** Seccion Formulario *********************************/
.seccion-formulario{
    background-color: var(--backgroud-extremos);
}

.contenedor-formulario{
    background-color: var(--color-footer);
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    border: 5px solid var(--segundo-color);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formulario label {
    font-family: var(--fuente-texto);
    font-size: 1.3rem;
    color: var(--backgroud-extremos);
}

.formulario input, .formulario textarea {
    background-color: var(--color-footer);
    border: none;
    border-bottom: 2px solid var(--segundo-color);
    margin-bottom: 2.1rem;
    padding-top: 2px;
    outline: none;
}

.formulario textarea {
    height: 150px;
}

.btn-formulario{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--backgroud-extremos);
    background-image: linear-gradient(90deg, #cc8800 20%,  #b37700, #996600, #805500,#664400, #32384d);
    box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.1), 0 2px 4px -2px hsla(0, 0%, 0%, 0.1);
    width: 90px;
    height: 50px;
    border: 2px solid var(--backgroud-extremos);
    border-radius: 7px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    animation-name: botonEnviar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1000ms;
}

@keyframes botonEnviar {
    100% {background: linear-gradient(90deg, #32384d 0%,#664400, #b37700, #cc8800 100%)}
}


/*****************Footer**************************************/

footer {
    padding: 2rem;
    background-color: var(--segundo-color);
    width: 100%;
    height: 9.5rem;
    margin: auto;   
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.contenedor-footer p {
    font-family: var(--fuente-texto);
    color: var(--backgroud-extremos);
    cursor: pointer;
}

.contenedor-footer p:hover{
    color: var(--footer-hover);
}

.contenedor-iconos a{
    padding: 20px;
    color: var(--backgroud-extremos);
}

.contenedor-iconos a i {
    font-size: 1.5rem;
    transition: all 0.6ms;
    color: var(--backgroud-extremos);
}

.contenedor-iconos a i:hover {
    color: var(--footer-hover);
}


